@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Valtech Test</h1>
    <p class="lead">This test was built using ASP.NET, MVC 5, EF 6 with Code First, DDD architecture and Knockout.js on frontend</p>
    <p><a href="https://github.com/alecventura/purchaseManagement" class="btn btn-primary btn-lg">Git repository</a></p>
</div>