<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Admin
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("New product", "Product", "PurchaseAdmin")</li>
        <li>@Html.ActionLink("New product category", "ProductCategory", "PurchaseAdmin")</li>
        <li>@Html.ActionLink("New payment method", "PaymentMethod", "PurchaseAdmin")</li>
    </ul>
</li>
